<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <!--  <class name="com.main.FlowEProc"/> -->
   <!--   <class name="com.main.flowZSN"/> -->
       <class name="com.main.FlowIContract"/> 
    <!-- <class name="com.main.FlowEInvoice"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
